cifar-10-python.tar.gz
Untitled.ipynb
.ipynb_checkpoints/play_char-checkpoint.ipynb
.ipynb_checkpoints/play_image-checkpoint.ipynb
.ipynb_checkpoints/play_math-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
cifar-10-batches-py/batches.meta
cifar-10-batches-py/data_batch_1
cifar-10-batches-py/data_batch_2
cifar-10-batches-py/data_batch_3
cifar-10-batches-py/data_batch_4
cifar-10-batches-py/data_batch_5
cifar-10-batches-py/readme.html
cifar-10-batches-py/test_batch
cifar10_model/model.npy
cifar10_model/optimizer.npy
mingpt/.ipynb_checkpoints/model-checkpoint.py
mingpt/.ipynb_checkpoints/trainer-checkpoint.py
mingpt/__pycache__/model.cpython-39.pyc
mingpt/__pycache__/trainer.cpython-39.pyc
mingpt/__pycache__/utils.cpython-39.pyc
